# Ignore environment variables
.env

# Ignore node modules
node_modules/

# Ignore logs
logs/
*.log

# Ignore other system-specific files
.DS_Store
Thumbs.db

# Add any other files or directories you want to exclude
